.site-main {

    color: white;

    .hero {
        display: flex;
        justify-content: center;
        align-items: center;





        .hero-img img {
            padding: 70px;
            width: 300px;
            // height: 380px;
            overflow: hidden;

            border-radius: 80% 95% 70% 90% / 45% 60% 35% 55%;
        }

        .hero-inner {
            // margin-top: 100px;

            .hero-title {
                margin: 10px 10px;
                font-size: 35px;
                font-family:"playwrite nz basic", sans-serif;
                // text-transform: uppercase;
            }
            

            .hero-subtitle {
                font-family: "Roboto", sans-serif;
                font-optical-sizing: auto;
                font-weight: 100;
                font-style: normal;
                font-variation-settings:
                    "wdth" 100;
                font-size: 30px;
                text-transform: uppercase;
            }
        }

    }


    .hero {
        opacity: 0;
        animation: fadeIn 5.2s ease forwards;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }
}

