  .header {
      padding: 18px 18px 12px;
      position: sticky;
      top: 0;
      z-index: 20;
      background: red;
      //    display: flex;

      .header-line {
          display: grid;
          // justify-content: space-between;
          grid-template-columns: auto 1fr auto;
          align-items: center;
          gap: 24px;

          .brand {
              display: flex;
              flex-direction: column;
              justify-content: center;

              .brand-title {
                  font-weight: 700;
                  font-size: 16px;
              }

              .brand-sub {
                  font-size: 12px;
                  color: var(--muted);
                  margin-top: 2px;


              }


          }

          .nav-center {
              display: flex;
              justify-content: center;


              .nav {
                  display: flex;
                  align-items: center;
                  gap: 12px;

                  .nav-link {
                      text-decoration: none;
                      padding: 8px 12px;
                      border-radius: 999px;
                      border: 1px solid transparent;
                      color: var(--text);
                  }
              }
          }

          .header-actions {
              display: flex;
              align-items: center;
              gap: 10px;

              .long {

                  .btn {
                      display: inline-flex;
                      align-items: center;
                      justify-content: center;
                      gap: 8px;
                      border-radius: 999px;
                      padding: 10px 14px;
                      border: 1px solid var(--border);
                      background: #ffffff0a;
                      text-decoration: none;
                      cursor: pointer
                  }

              }

              .btn-ghost {
                  display: inline-flex;
                  align-items: center;
                  justify-content: center;
                  gap: 8px;
                  border-radius: 999px;
                  padding: 10px 14px;
                  border: 1px solid var(--border);
                  background: #ffffff0a;
                  text-decoration: none;
                  cursor: pointer;
                  color: var(--text);
              }
          }

      }
  }


  @media(max-width:780px){
    .header{
        justify-content: center;
        text-align: center;
        .header-line{
            grid-template-columns: auto 1fr;
            display: block;
            width: 100%;
            
            .header-actions{
                margin-top: 12px;
                justify-content: center;
            }
        }
    }
  }